@import "./mixins";
.card > a{
  text-decoration: none;
  color: $color3;
  &:hover{
    color: $color2;
  }
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: $color4;
  color: $color3;
  height: 200px;
  width: 400px;
  transition: 0.2s;
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
  & > .front {
    position: absolute;
    pointer-events: none;
    transition: 0.2s;
    opacity: 1;
    text-shadow: 1px 5px 2px black;
  }
  & > a>.back {
    text-shadow: 1px 5px 2px black;
    font-size: 22px;
    text-transform: uppercase;
    margin:5px;
    transition: 0.2s;
    opacity: 0;
  }
  & >.back {
    font-size: 18px;
    transition: 0.2s;
    opacity: 0;
  }
  &>a{
    pointer-events: none;
  }
  &:hover {
    background-color: $color1;
    color: $color3;
    & > .front {
      opacity: 0;
    }
    & > a>.back {
      opacity: 1;
    }
    & >.back {
      color: $color4;
      opacity: 1;
    }
    &>a{
      pointer-events: initial;
    }
  }
}
