nav{
    background-color: #292727;
    height: 12vw;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: 0;
    @media(min-width: 768px){
        height: 6vw;
    }
    @media(min-width: 1024px){
        height: 5vw;
    }
    @media(min-width: 1200px){
        height: 4.5vw;
    }
}
.butt{
    margin-top: 4vw;
    margin-right: 2vw;
    float: right;
    @media(min-width: 768px){
        margin-top: 1vw;
    }
    @media(min-width: 1024px){
        margin-top: 0.05vw;
    }
    @media(min-width: 1200px){
        margin-top: 0.07vw;
    }
}
.butt__line{
    background-color:white;
    height: 0.5vw;
    margin: 1vw;
    width: 8vw;
    @media(min-width: 768px){
        height: 0.5vw;
        margin: 0.5vw;
        width: 5vw;
    }
    @media(min-width: 1024px){
        height: 0.5vw;
        margin: 0.8vw;
    }
    @media(min-width: 1200px){
        height: 0.2vw;
    }
}
.sidemenu{
    position: fixed;
    top:11vw;
    margin-left: 40vw;
    height: 100vh;
    width: 120vw;
    transition: 0.8s ease-in-out;
    cursor: default;
    box-shadow:5px 30px 15px 15px rgba(0,0,0,0.65);
    @media(min-width: 768px){
        top: 6vw;
    }
    @media(min-width: 1024px){
        top: 5vw;
    }
    @media(min-width: 1200px){
        top: 4.5vw;
    }
}

.butt:hover{
    cursor: pointer;
    .sidemenu{
        background-color:#292727;
        display: block;
        margin-left: -90vw;
        @media(min-width: 768px){
            margin-left: -100vw;
        }
        @media(min-width: 1024px){
            margin-left: -20vw;
        }
        @media(min-width: 1280px){
            margin-left: -20vw;
        }
    }
}
.sidemenu>a>div{
    text-align: left;
    clear: both;
    font-size: 1.5rem;
    padding-left: 15vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-bottom: white 1px dotted;
    @media(min-width: 1024px){
        padding-left: 2vw;
    }
    @media(min-width: 1280px){
        padding-left: 4vw;
        font-size: 2.2rem;
    }
}
.sidemenu>a>div:hover{
    opacity: 20%;
    cursor: pointer;
}
.sidemenu>a{
    text-decoration: none;
    color: white;
}